<img src="frame.png" id="photo" hidden="hidden">


<h3>Hex Puzzle by JRS</h3>

<canvas id="puzzle-widget" data-puzzle-pattern="<%= puzzle_string %>" width="520" height="280" style="background-color:#cccccc; border:2px solid red;" onmouseDown="mousedown(event)"></canvas>
