<img src="photos/hx005.png" id="hx005" hidden="hidden">
<img src="photos/hx033.png" id="hx033" hidden="hidden">
<img src="photos/hx143.png" id="hx143" hidden="hidden">
<img src="photos/hx156.png" id="hx156" hidden="hidden">
<img src="photos/hx165.png" id="hx165" hidden="hidden">
<img src="photos/hx223.png" id="hx223" hidden="hidden">
<img src="photos/hx237.png" id="hx237" hidden="hidden">
<img src="photos/hx298.png" id="hx298" hidden="hidden">
<img src="photos/hx384.png" id="hx384" hidden="hidden">
<img src="photos/hx418.png" id="hx418" hidden="hidden">
<img src="photos/hx476.png" id="hx476" hidden="hidden">
<img src="photos/hx531.png" id="hx531" hidden="hidden">
<img src="photos/hx547.png" id="hx547" hidden="hidden">
<img src="photos/hx636.png" id="hx636" hidden="hidden">
<img src="photos/hx661.png" id="hx661" hidden="hidden">
<img src="photos/hx729.png" id="hx729" hidden="hidden">
<img src="photos/hx781.png" id="hx781" hidden="hidden">
<img src="photos/hx790.png" id="hx790" hidden="hidden">
<img src="photos/hx792.png" id="hx792" hidden="hidden">
<img src="photos/hx800.png" id="hx800" hidden="hidden">
<img src="photos/hx808.png" id="hx808" hidden="hidden">
<img src="photos/hx813.png" id="hx813" hidden="hidden">
<img src="photos/hx820.png" id="hx820" hidden="hidden">
<img src="photos/hx831.png" id="hx831" hidden="hidden">
<img src="photos/hx836.png" id="hx836" hidden="hidden">
<img src="photos/hx849.png" id="hx849" hidden="hidden">
<img src="photos/hx860.png" id="hx860" hidden="hidden">
<img src="photos/hx876.png" id="hx876" hidden="hidden">


<h3>Hex Puzzle by JRS</h3>

<canvas id="puzzle-widget" data-puzzle-pattern="<%= puzzle_string %>" width="520" height="280" style="background-color:#cccccc; border:2px solid red;" onmouseDown="mousedown(event)"></canvas>
