<img src="hx418.png" id="frame" hidden="hidden">
<img src="piece.png" id="piece" hidden="hidden">

<h3>Hex Puzzle ('Dashing' widget)</h3>

<canvas id="puzzle-widget" data-puzzle-pattern="<%= puzzle_string %>" width="520" height="280" style="background-color:#cccccc; border:2px solid red;"></canvas>
