<h3>Hex Puzzle by JRS</h3>

<canvas id="puzzle-widget" width="520" height="280" style="background-color:#999999; border:2px solid red;" onmousedown="mousedown(event)" onmouseup="mouseup(event)" onmousemove="mousemove(event)"></canvas>
